<div id="profile">
  <% if profile.photo.attached? %>
    <%= image_tag profile.photo, width: "75", class: "photo" %>
  <% end %>

  <div class="data">
    <ul class="items">
      <li class="item">Birth date: <%= profile.birthdate %></li>
      <li class="item">Gender: <%= profile.sex %></li>
      <li class="item">Location: <%= profile.location %></li>
    </ul>

    <% if current_user == profile.user %>
      <div class="options">
        <%= link_to "Edit profile", [:edit, profile.user, profile], class: "edit" %>
        <%= link_to "Change name", edit_name_user_path(profile.user), class: "name" %>
      </div>
    <% end %>
  </div>
</div>