<div>
  <% if profile.photo.attached? %>
    <%= image_tag profile.photo, width: "75" %>
  <% end %>

  <ul>
    <li>Birth date: <%= profile.birthdate %></li>
    <li>Gender: <%= profile.sex %></li>
    <li>Location: <%= profile.location %></li>
  </ul>

  <% if current_user == profile.user %>
    <%= link_to ">>Edit profile", [:edit, profile.user, profile] %>
  <% end %>
</div>