<h2><%= "#{@user.full_name}'s page" %></h2>

<h3>About <%= @user.first_name %></h3>
<%= render partial: 'profile', locals: {profile: @user.profile} %>

<h3>Posts</h3>
<%= render partial: 'posts/form', locals: {post: @post} %>
<%= render partial: 'posts/post', collection: @posts %>

<%= link_to ">>Timeline", root_path %> ||
<%= link_to ">>Friends", users_path %>