<h2><%= "#{@user.full_name}'s page" %></h2>

<%= link_to ">>New", new_post_path %>

<ul>
  <% @user.posts.each do |post| %>
    <li><%= post.content %><br>
      <% if current_user == @user %>
        <%= link_to ">>Edit", edit_post_path(post) %>
        <%= link_to ">>Delete", post_path(post), method: :delete, data: {confirm: "Remove this post?"} %>
      <% end %>
      <h3>Comments</h3>
      <%= render partial: 'posts/comment', collection: post.comments %>
      <%= render partial: 'comments/form', locals: {post: post}%>
    </li>
  <% end %>
</ul>

<%= link_to ">>Back to Index", root_path %>