<h2><%= "#{@user.full_name}'s page" %></h2>

<h3>About <%= @user.first_name %></h3>
<%= render partial: 'profile', locals: {profile: @user.profile} %>

<% if current_user.confirmed_friends.include?(@user) || current_user == @user %>
  <h3><%= @user.first_name %>'s posts</h3>

  <% if current_user == @user %>
    <%= render partial: 'posts/form', locals: {post: @post} %>
  <% end %>
  <%= render partial: 'posts/post', collection: @posts %>
<% end %>