<div>
  <%= form_with model: post, local: true do |f| %>
    <%= f.text_area :content %><br>
    <br>
    <%= f.label :photo, 'Upload photo:' %>
    <%= f.file_field :photo %><br>
    <br>
    <%= f.submit 'Submit' %>
  <% end %>
</div>