<div class="post">
  <%= link_to "#{post.user.full_name}", user_path(post.user), class: "post-author" %><br>
  <div class="time">
    <%= distance_of_time_in_words(post.created_at, Time.now) %> ago<br>
  </div>

  <div class="photo-content">
    <% if post.photo.attached? %>
      <%= image_tag post.photo, width: "150", class: "photo" %>
    <% end %>

    <% if post.content %>
      <div class="content">
        <%= post.content %>
      </div>
    <% end %>
  </div>

  <div class="options">
    <%= render partial: 'posts/like', locals: {post: post} %>

    <% if current_user == post.user %>
      <div class="edit-delete">
        <%= link_to "Edit", edit_post_path(post), class: "edit"  %>
        <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Remove this post?"}, class: "delete" %>
      </div>
    <% end %>
  </div>

  <div class="comments">
    <% if post.comments.count != 0 %>
      <h4>Comments</h4>
      <%= render partial: 'posts/comment', collection: post.comments %>
    <% end %>
    <%= render partial: 'comments/form', locals: {post: post}%>
  </div>
</div>