<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="navbar">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.full_name %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %> |
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      <% end %>
      
      <% if current_user && !current_user.pending_friends.empty? %>
        <br><%= link_to "You have friendship requests.", root_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
